.STTEXT
{
    text-align: center;
    color: white;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.TTEXT
{
	margin-top:auto;
    text-align: center;
    color: white;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.HEAD
{
    padding: 0;
    margin: auto;
	margin-top: 0;
	margin-bottom: 0;
    background-color: rgb(61,61,61);
    width: 100%;
    height: 100px;
}

.MAIN
{
    padding: 0;
    margin: auto;
	margin-top: 0;
    background-color: rgb(85,85,85);
    width: 50%;
    height: 750px;
}

.FOOT
{
    padding: 0;
    margin: auto;
	margin-top: 0;
    background-color: rgb(61,61,61);
    width: 100%;
    height: 100px;
}

.PANEL-LEFT
{
    border: 1px red solid;
    display: block;
    float: left;
    width: 25%;
    height: 750px;
}

.PANEL-RIGHT
{
    border: 1px red solid;
    display: block;
    float: right;
    width: 25%;
    height: 750px;
}

.HL-INLINE
{
	display: inline;
}

body
{
    margin: 0;
    padding: 0;
    background-color: rgb(40,40,40);
}